<nav>
<a routerLink="/" routerLinkActive="active" >Home</a>
<a routerLink="/useIconPipe"routerLinkActive="active" >Icons:)</a>
<a routerLink="/courses"routerLinkActive="active" >Courses</a>
<a routerLink="/information"routerLinkActive="active" >information</a>
<a routerLink="/information-popup"routerLinkActive="active" >information-popup</a>
<a routerLink="/student-details"routerLinkActive="active" >student-details</a>
<a routerLink="/student-list"routerLinkActive="active" >student-list</a>
<a routerLink="/teachersForm"routerLinkActive="active" >teachersForm</a>
<a routerLink="/teachersReactiveForm"routerLinkActive="active" >teachersReactiveForm</a>
<a routerLink="/show-courses"routerLinkActive="active" >show courses Clabus</a>
<a routerLink="/dotNet"routerLinkActive="active" >users use dotNet</a>

</nav>
<router-outlet></router-outlet>